body{
    font-family: Josefin-Sanz;
    background-color: teal;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-color: darkcyan;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: darkgray;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color:tomato;
    transition: .3s;
    
}
/*-------------------------------------------------------------------*/

.content {
    display: flex;
    margin-top: 20px; 
}
/*--------------------------BOTON----------------------------*/
.content .boton{
    padding-top: 30px;
    padding-bottom: 20px ;
    text-align: center;
    padding-left: 10%;
    width: 20%;
}
.content .boton button{
    font-family: Josefin-Sanz;
    text-decoration: none;
    font-size: 20px;
    color: red;
    border-radius: 20px;
    
}
.content .boton button a{
    text-decoration: none;
    color: blue;
}
.boton button:hover{
    transition: .3s;
    a{
        color: red;
    }
}
/*-------------------------------------------------------------------*/

.content form{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    padding-bottom: 20px ;
    width: 50%;
}
.content form input{

    font-family: Josefin-Sanz;
    width: 40%;
    height: 30px;
    border-radius: 10px;
    font-size: 20px;
}
.content form input::placeholder{
    text-align: center;
}

.content .buscar button{    
    font-size: 15px;
    font-family: Josefin-Sanz;
    border-radius: 10px;
    color: blue;
    justify-content: center;
    height: 30px;
}
.content .buscar button:hover{
    transition: .3s;
    cursor: pointer;
    color: red;
}

/*
.boton button{
    position: absolute;
    left: 400px;
    top: 150px; /* Ajusta la posición vertical según necesites 
    font-size: 20px;
}
.boton button a{
    text-decoration: none;
    color: red;
}
.buscar input[type="text"] {
    height: 50px; /* Altura del campo de búsqueda 
    font-size: 20px; /* Tamaño de fuente del campo de búsqueda 
    padding: 5px 10px; /* Espaciado interno del campo de búsqueda 
    box-sizing: border-box; /* Incluir el padding en el ancho y alto total 
}
.buscar button{
    height: 50px; /* Altura del campo de búsqueda 
    font-size: 20px; /* Tamaño de fuente del campo de búsqueda 
    padding: 5px 10px; /* Espaciado interno del campo de búsqueda 
}
*/
.title{
    text-align: center;
}

.fila {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye los elementos a lo largo del contenedor */
    padding: 0 20px; /* Espacio entre los elementos */
}

.item {
    width: calc(50% - 20px); /* Ancho del 50% menos el espacio entre los elementos */
    margin-bottom: 20px; /* Espacio entre las filas */
}

/* Estilo para el contenedor */
.foto {
    text-align: center; /* Alinea el texto al centro */
    padding: 10px; /* Espacio alrededor de la foto */
    border-radius: 10px; /* Borde redondeado */
    background-color: white; /* Fondo blanco */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    background-size: 150px 150px; /* Tamaño fijo del fondo */
    background-position: center; /* Centra el fondo */
}

/* Estilo para la imagen dentro del contenedor */
.foto img {
    width: 25%; /* Ancho del 100% del contenedor */
    height: 25%; /* Altura del 100% del contenedor */
    object-fit: contain; /* Ajusta la imagen para cubrir el contenedor */
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
.material-symbols-outlined {
    font-size: 24px; /* Tamaño de fuente */
    margin-top: 5px; /* Espacio arriba */
    color: teal; /* Color verde */
}
.material-symbols-outlined:hover {
    cursor: pointer;
}
