body{
    font-family: Josefin-Sanz;
    background-color: #E8F1F2;
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: aliceblue;
    border-radius: 10px;
}

.formulario h1{
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.formulario .radioBut{
    text-align: center;
    padding-bottom: 20px;
    
}

.formulario .radioBut input{
    display: none;
}

.formulario .radioBut label{
    color: #0774d9;
    padding: 5px 15px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    transition: .2s;
}

.formulario .radioBut label:hover{
    background-color: silver;
}


.formulario .radioBut input:checked + label{
    padding: 5px 15px;
    background-color: #0774d9;
    border-radius: 2px;
    color: white;
}

.formulario .entrada{
    padding: 10px;
    border-bottom: 1px solid gray;
    margin-bottom: 30px;

    position: relative;
    margin-bottom: 20px;
    text-align: center;
}

.entrada input {
    width: 10px;
    border: none;
    background: none;
    outline: none;
    
}

.entrada .medida{
    background-color: silver;
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    width: 150px;
    display: inline-block;
}
.entrada .medida input{
    position: relative;
    width: 50px;
    border-bottom: 1px solid gray;
    cursor: pointer;
}
.entrada .medida label{
    position: relative;
    text-align: left;
}

.entrada .fecha{
    text-align: center;
}

.entrada .fecha label{
    text-align: center;
}
.entrada .fecha input{
    cursor: pointer;
    width: 100px;
}


.boton{
    padding-top: 30px;
    padding-bottom: 20px ;
    text-align: center;
    
}

.boton input{
    text-align: center;
    align-items: center;
    width: 80%;
    height: 50px;
    border: 1px solid;
    border-radius: 40px;
    background-color: gray;
    color: white;
    font-family: Josefin-Sanz;
    font-size: 100%;
}

.boton input:hover{
    border: 1px solid black;
    background-color: green;
    transition: .3s;
}
