footer{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #3891A6;
}
footer p{
    text-align: center;
}
footer ul{
    text-align: center;
}
footer ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
