/*IMPORTAMOS DE LA CARPETA JOSEFIN_SANS EL FONT CORRESPONDIENTE*/
@font-face {
    font-family: "Josefin-Sanz";
    src: url("../Josefin_Sans/JosefinSans-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
}

