/*HOJA DE ESTILOS CORRESPONDIENTE AL FOOTER*/

/*AJUSTA EL TAMAÑO Y LA DISPOSICIÓN (FLEX) DE LOS ELEMENTOS DEL FOOTER*/

footer{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #D9D0DE;
}
footer p{
    text-align: center;
}
footer ul{
    text-align: center;
}
footer ul li{
    list-style-type: none; /*QUITAMOS EL PUNTEADO DE LOS ELEMENTOS DE LA LISTA*/
    display: inline-block;
    padding: 10px 20px;
}
