.boton{
    padding-top: 30px;
    padding-bottom: 20px ;
    text-align: center;
    
}
.boton button a{
    font-family: Josefin-Sanz;
    text-decoration: none;
    font-size: 20px;
    font-family: Josefin-Sanz;
    color: aliceblue;
}

.boton button{
    text-align: center;
    align-items: center;
    width: 30%;
    height: 50px;
    border: 1px solid;
    border-radius: 40px;
    background-color: black; 
}

.boton button:hover{
    border: 1px solid black;
    background-color: green;
    transition: .3s;
}

.indices {
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.indices > * {
    min-width: 0;
    flex-basis: 100%;
}
@media only screen and (min-width: 768px) {
    .inicio {
      padding: 40px 50px;
    }
  
    .indices {
      flex-direction: row;
    }
}

.macro p{
    text-align: center;
}

.inicio ul li{
    list-style-type: none;
}