.celdas{
    color: grey;
}

input[type=text]{
    width: 30%;
    padding: 5px 12px;
    margin: 8px 0;
    box-sizing:border-box;
    border-color: #368f8b;
    background-color: #f5f7f9;
}

input[type=password]{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-color:#368f8b;
    background-color: lightgray;
}

label[for=Nombre]:focus-within{
    color: purple;
}

label[for=Email]:focus-within{
    color: greenyellow;
}

label[for=Pass]:focus-within{
    color: lightyellow;
}

label[for=Contra]:focus-within{
    color: firebrick;
}