/*HOJA DE ESTILOS CORRESPONDIENTE AL ESTILO DEL NAV DE LA APLICACIÓN*/
/*CONTIENE TAMBIÉN EL ESTILO GENERAL DEL BODY*/


/*-----------ESTILO DEL BODY------------*/
body{
    font-family: Josefin-Sanz;
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    width: 100%;
    box-sizing: border-box;
}

/*------------------ESTILO DEL NAV-----------------*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #D9D0DE;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color:tomato;
    transition: .3s;
    
}