/*ESTILO DE INICIO DE SESIÓN*/

/*Cambia el color de fondo del cuerpo del documento a amarillo en pantallas con un ancho máximo de 768px.*/
@media screen and(max-width: 768px){
    body{
        background-color: yellow;
    }
}

body{
    font-family: Josefin-Sanz;
    background-color: #D9D0DE;
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);/*CENTRAMOS EL FORMULARIO*/
    width: 400px;
    background-color: white;
    border-radius: 10px;
}

.formulario h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.formulario form{
    padding: 20px;
}
.entrada {
    border-bottom: 1px solid gray;
    position: relative;
    margin-bottom: 50px;
}
.entrada input {
    width: 90%;
    border: none;
    background: none;
    outline: none; 
}
.entrada label {
    color: red;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-200%);
    transition: 0.2s ease-out;
    pointer-events: none;
}
/*CAMBIA EL ESTILO DE UN LABEL AL SER MOSTRADO (AL MOSTRAR VALIDACIONES DE JS POR EJEMPLO)*/
.entrada input:focus + label, 
.entrada input:placeholder-shown + label {
    transform: translateY(-200%);
    font-size: 0.8em;
}

.boton{
    padding-top: 30px;
    padding-bottom: 20px ;
    text-align: center;
    
}

.boton button{
    text-align: center;
    align-items: center;
    width: 90%;
    height: 50px;
    border: 1px solid;
    border-radius: 40px;
    background-color: gray;
    color: white;
    font-family: Josefin-Sanz;
    font-size: 100%;
}

.boton button:hover{
    border: 1px solid black;
    background-color: green;
    transition: .3s;
    cursor: pointer;
}

.registrar-button{
    text-align: center;
    font-size: 0.9em;
    color: black;
}

.registrar-button a{
    color: blueviolet;
    text-decoration: none;
}

.registrar-button a:hover{
    color: red;
    text-decoration: underline;
}


.check{
    text-align: center;
}
.check input:hover{
    cursor: pointer;
}

#region{
    color: gray;
}
#comuna{
    color: gray;
}


.entrada select{
    width: 90%;
    border: none;
    background: none;
    outline: none;
}

.entrada select:hover{
    cursor: pointer;
}