body{
    font-family: Josefin-Sanz;
    background-color: teal;
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: aliceblue;
    border-radius: 10px;

}

.formulario h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.formulario form{
    padding: 20px;
}

.entrada{
    border-bottom: 1px solid gray;
    margin-bottom: 30px;
}
.entrada {
    position: relative;
    margin-bottom: 50px;
}

.entrada input {
    width: 90%;
    border: none;
    background: none;
    outline: none;
    
}

.entrada label {
    color: gray;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s ease-out;
    pointer-events: none;
}

.entrada input:focus + label,
.entrada input:not(:placeholder-shown) + label {
    transform: translateY(-200%);
    font-size: 0.8em;
}

.boton{
    padding-top: 30px;
    padding-bottom: 20px ;
    text-align: center;
    
}

.boton input{
    text-align: center;
    align-items: center;
    width: 90%;
    height: 50px;
    border: 1px solid;
    border-radius: 40px;
    background-color: gray;
    color: white;
    font-family: Josefin-Sanz;
    font-size: 100%;
}

.boton input:hover{
    border: 1px solid black;
    background-color: green;
    transition: .3s;
}

.registrar-button{
    text-align: center;
    font-size: 0.9em;
    color: black;
}

.registrar-button a{
    color: blueviolet;
    text-decoration: none;
}

.registrar-button a:hover{
    color: red;
    text-decoration: underline;
}


.check{
    text-align: center;
}