.formulario {
    padding: 20px;
    margin: 0 auto;
    background-color: #D9D0DE; 
}
.formulario .sexo  {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 100%;
}
.formulario .entrada{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0; 
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}
.dist-num {
    --padding-top: 20px;  
  }
.sexo ion-label {
    font-weight: bold;
}
.paprobar{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin-bottom: 20px;
}
.peso ion-label{
    font-weight: bold;
}
.altura ion-label{
    font-weight: bold;
}
ion-datetime {
    --background: rgb(245, 235, 247);
    --background-rgb: 245, 235, 247;
    --wheel-highlight-background: rgb(218, 216, 255);
    --wheel-highlight-border-radius: 48px;
    --wheel-fade-background-rgb: 245, 235, 247;
  }
ion-datetime::part(wheel-item) {
    color: rgb(255, 66, 97);
}
  
ion-datetime::part(wheel-item active) {
    color: rgb(128, 30, 171);
}
.fecha-container {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.move-right{
    margin-left: 0%;
}
.fecha{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-top: 100px;
}

.objetivo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0; 
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.objetivo ion-label{
    font-weight: bold;
}
.nivelAct{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}
.nivelAct ion-label{
    font-weight: bold;
}
.ion-page {
    background-color: #D9D0DE; /* Color de fondo deseado */
}
