.Img{
    width: 70px;
    height: 70px;
    margin-right: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Toolbar {
    --background: #D9D0DE; 
    --border-width: 0;
    --box-shadow: none;
}
.Toolbar form{
    display: block;
}