* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Josefin-Sanz;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #232323;
}
.bar{
    border-radius: 5px;
    position: relative;
}

.rect{
    width: 350px;
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px;
    border: 0;
    outline: none;
    font-family: Josefin-Sanz;
}

.lupa{
    background-color: firebrick;
    padding: 10px 15px;
    position: absolute;
    border: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;

}

.lupa:hover {
    background-color: rgba(0 0 0 );
}

.rect:invalid ~ #miLista > option[value=""]:not(:focus) {
    display: none;
}